---
import { CollectionEntry, getCollection } from "astro:content";

import Page from "../../layouts/Page.astro";

import BaseHead from "../../components/BaseHead.astro";
import BlurredImage from "../../components/BlurredImage.astro";
import Figure from "../../components/Figure.astro";
import Link from "../../components/Link.astro";
import Post from "../../components/Post.astro";
import Tag from "../../components/Tag.astro";

import { getFormattedDate } from "../../utils/date";
import { getReadingTime } from "../../utils/read";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: {
      post,
      otherPosts: posts
        .filter(p => p.slug !== post.slug)
        .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    },
  }));
}

type Props = {post:  CollectionEntry<"blog">, otherPosts:  CollectionEntry<"blog">[]};

const { post, otherPosts } = Astro.props;
const { Content } = await post.render();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={post.data.title}
      description={post.data.description}
      keywords={post.data.tags}
      image={post.data.image}
    />
    <style>
      .banner {
        aspect-ratio: calc(16 / 9);
      }

      .navigation {
        margin-bottom: var(--spacing-minor);
      }

      .continue {
        margin-top: var(--spacing-major);
      }
    </style>
  </head>
  <body>
    <Page>
      <header>
        <div class="navigation">
          <Link href="/" reverse>Go back</Link>
        </div>
        <BlurredImage src={post.data.banner} alt={post.data.title} class="banner" />
        <h1>{post.data.title}</h1>
        <div class="meta">
          On <strong>{
            getFormattedDate(post.data.date)
          }</strong> ({getReadingTime(post.body)} min read) &mdash; {
            post.data.tags.map((tag, i) => (
              <>
                <Tag name={tag} /><!-- ... -->{i < post.data.tags.length - 1 ? <span>, </span> : ""}
              </>
            ))
          }
        </div>
      </header>
      <article>
        <Content
          components={{
            a: Link,
            img: Figure,
          }}
        />
      </article>
      <div class="continue">
        <h2>Continue Reading</h2>
        <p>
          Enjoying the reads? Here are some other similar posts you might be interested in. Don't miss them out!
        </p>
        {otherPosts.map((post) => <Post {...post} />)}
        <p>
          You can also go to my <Link href="/blog">Blog</Link> page for
          more stories like this.
        </p>
      </div>
    </Page>
  </body>
</html>
