---
import type { CollectionEntry } from "astro:content";

import Link from "./Link.astro";

import { getFormattedDate } from "../utils/date";
import { getReadingTime } from "../utils/read";

type Props = CollectionEntry<"blog">;

const post = Astro.props;
---

<style>
  .post {
    display: flex;
    gap: var(--spacing-minor);
    margin-bottom: var(--spacing-minor);
  }

  .post .image {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .post .image a {
    display: flex;
  }

  .post img {
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

  .post .content {
    flex: 2;
    display: flex;
    align-items: center;
  }

  .post .content a.title {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: var(--spacing-nano);
  }

  .post .content p {
    margin-bottom: var(--spacing-nano);
  }
</style>

<div class="post">
  <div class="image">
    <a href={`/blog/${post.slug}`}>
      <img
        src={post.data.banner}
        alt={post.data.title}
        width="172px"
        height="172px"
        loading="lazy"
      />
    </a>
  </div>
  <div class="content">
    <div class="content-inner">
      <a href={`/blog/${post.slug}`} class="title">{post.data.title}</a>
      <p>
        {getFormattedDate(post.data.date)} ({getReadingTime(post.body)} min
        read)
      </p>
      <Link href={`/blog/${post.slug}`}>Read</Link>
    </div>
  </div>
</div>
