---
import type { CollectionEntry } from "astro:content";

import Link from "./Link.astro";

type Props = CollectionEntry<"work">;

const work = Astro.props;
---

<style>
  .work {
    margin-bottom: var(--spacing-minor);
    display: flex;
    gap: var(--spacing-minor);
  }

  .work .content {
    display: flex;
    flex: 2;
    align-items: center;
  }

  .work .image {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .work .content strong,
  .work .content p {
    display: block;
    margin-bottom: var(--spacing-nano);
  }

  .work .image img {
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
</style>

<div class="work">
  <div class="content">
    <div>
      <strong>{work.data.title}</strong>
      <p>{work.data.description}</p>
      <Link href={work.data.link} target="_blank">View</Link>
    </div>
  </div>
  <div class="image">
    <img
      src={work.data.thumbnail}
      alt={work.data.title}
      width="172px"
      height="172px"
      loading="lazy"
    />
  </div>
</div>
